{
    "extends": [
      "react-app",
      "prettier",
      "airbnb",
      "react-app/jest"
    ],
    "env": {
      "jest": true
    },
    "globals": {
      "document": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "linebreak-style": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "no-alert": 0,
        "consistent-return": 0,
        "no-shadow": 0,
        "brace-style": 0,
        "no-unused-vars": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "no-underscore-dangle": 0,
        "import/no-cycle": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "no-await-in-loop": 0,
        "no-undef": 0,
        "no-plusplus": 0,
        "no-param-reassign": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "react/jsx-no-comment-textnodes": 0,
        "react/prop-types": 0,
        "react/destructuring-assignment": 0,
        "no-trailing-spaces": 0,
        "max-len": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/button-has-type": 0,
        "react/state-in-constructor": 0,
        "react/no-unused-state": 0,
        "react/jsx-props-no-spreading": 0
      }
  }

  