.comment-container{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 2px 20px;
    margin: 5px 0;
}

.message{
    color: gray;
    font-style: italic;
}

.remove-comment{
    color: red;
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-bottom: 20px;
}