body{
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');
font-family: 'Lato', sans-serif;
font-size: 1.1em;
margin: 0;
background-color: #d0efff;
overflow-x: hidden;
color: navy;
}

.accessible-interface{
    font-size: 1.3em !important;
    color: rgb(1, 1, 73) !important;
    background-color: rgb(205, 234, 243) !important;
}

a{
    text-decoration: none !important;
}

input, select{
    font-size: 0.8em;
}

a:focus{
    color: navy;
}

a:visited{
    color: navy;
}

textarea{
    border-color: royalblue;
    background-color: rgb(223, 231, 255);
    color: navy;
    outline: none;
}

.textarea:focus{
    outline: none;
    border-color: navy;
    box-shadow: 0 5px 15px rgba(92, 119, 182, 0.4);
}

.form{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    .submit{
        width: 200px;
    }
    & > * {
        padding: 5px 0;
    }
    label{
        display: flex;
        flex-direction: column;

        input{
            width: 450px;
            height: 30px;
            background-color: rgb(223, 231, 255);
            border: 1px solid royalblue;
            border-radius: 8px;
            margin-top: 5px;
            font-size: 1em;
            color: navy;
            outline: none;
        }
        input:focus{
            border-color: navy;
            box-shadow: 0 5px 15px rgba(92, 119, 182, 0.4);
        }
        select{
            width: 450px;
            height: 30px;
            background-color: rgb(223, 231, 255);
            border-radius: 8px;
            border: 1px solid navy;
        }
    }
}

.page-container{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 10px 50px 50px 50px;
    margin: 25px 50px 25px 50px;
    overflow: hidden;
    background-color: white;
}

input[type=submit]{
    display: inline-block;
    padding: 0.35em, 1.2em;
    border: 0.1em solid royalblue;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    color: royalblue;
    text-align: center;
    transition: all 0.2s;
    background-color: white;
    width: 160px;
    cursor: pointer;
    
    &:hover,
    &:focus {
      background-color: royalblue;
      color: white;
    }

}

.description-box{
    height: 300px;
    padding: 0 0 50px 0;
    background-color: rgb(223, 231, 255);
}

.fontWeightBold{
    font-weight: bold;
    color: blue;
}

.fontColorWhite{
    color: white;
}

.font-style-italic{
    font-style: italic;
}

.display-flex{
    display: flex !important;
}

@media only screen and (max-width: 768px) {
    .page-container{
        margin: 25px 0px 25px 0px;
        padding: 10px 0px 50px 0px;
    }
    .form{
        label{
            input{
                width: 400px;
            }
            select{
                width: 400px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .form{
        label{
            input{
                width: 300px;
            }
            select{
                width: 300px;
            }
        }
    }
}

@media only screen and (max-width: 376px) {
    .form{
        label{
            input{
                width: 175px;
            }
            select{
                width: 175px;
            }
        }
    }

}

.fixed-buttons{
    position: fixed;
    top: 75px;
    right: 55px;
    z-index: 99999999;
    display: flex;
    
    & > * {
        margin: 5px;
    }

    .button-changelang{
        background-image: url("../../assets/fixed-buttons/gb.svg");
        width: 70px;
        height: 35px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 1.4em;
        border-color: rgb(255, 216, 157);
        cursor: pointer;
    }

    .button-changeinterface{
        background-image: url("../../assets/fixed-buttons/eye.svg");
        width: 70px;
        height: 35px;
        border-radius: 8px;
        background-color: rgb(255, 235, 205);
        border-color: rgb(255, 216, 157);
        cursor: pointer;
    }

}

.flag-poland{
    background-image: url("../../assets/fixed-buttons/pl.svg") !important;
}

.flag-gb{
    background-image: url("../../assets/fixed-buttons/gb.svg") !important;
}