.landing-page {
  overflow: hidden;
  background-image: url('../../assets/just-waves.png');
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  color: navy;

  .landing-page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 6px lightblue solid;
    border-radius: 20px;
    background-color: rgb(255, 190, 201);
    .landing-page-container-context-1 {
      .see-for-yourself-header {
        text-align: center;
        color: #DD4124;
        margin: 5px 0 0 0;
      }

      .images-container {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin: 15px 0;

        .img-landing-page {
          width: 210px;
          height: 130px;
        }

        .img-kids {
          width: 210px;
          height: 130px;
        }
      }
      p {
        text-align: justify;
      }
      .header-container {
        display: flex;
        justify-content: center;
      }
    }
    .landing-page-container-context-2 {
      display: none;
      flex-direction: row;
      justify-content: center;
      .hr-1 {
        margin: 0 40px;
      }
    }
    .goback-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      cursor: pointer;
      color: darkblue;
    }
    .goback-container:hover {
      color: black;
    }
  }
}

.lodz-logo {
  width: 110px;
  height: 130px;
}

.vm-logo {
  width: 130px;
  height: 130px;
}

@media only screen and (max-width: 1024px) {
  .landing-page {
    .landing-page-container {
      .landing-page-container-context-2 {
        flex-direction: column;
        .hr-1 {
          margin: 40px 0px;
        }
      }
    }
  }
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}
