.legend{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100000;
    background-color: rgba(255, 235, 205, 0.746);
    padding: 30px;
}

.pins{
    display: flex;
}

.legend-header{
    margin-left: 15px;
}

.pin-img{
    width: 40px;
    height: 45px;
}

.pin-container{
    display: flex;
    margin: 10px;
}

.category-text{
    margin-top: 10px;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .legend{
        font-size: 0.5em;
        padding: 3px;
    }

    .pin-img{
        width: 30px;
        height: 35px;
    }
    
    .pin-container{
        margin: 0px;
    }
}