.popup{
    display: none;
    border: 3px lightblue solid;
    border-radius: 10px;
    padding: 50px 50px 0 50px;
    background-color: white;
    box-shadow: lightblue    0px 2px 4px 0px, lightblue     0px 2px 16px 0px;
    width: 1100px;
    min-height: 720px;
    .button-container{
    display: flex;
    justify-content: flex-end;
    button{
        background-color: inherit;
        border: none;
        font-size: 1em;
        cursor: pointer;
    }
    }
    & > * {
        margin: 15px 0;
    }

}

.popup-background{
    display: none;
    width: 100vw;
    height: 1500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 235, 205, 0.555);
}